 
# move unknown urls to the index.php
RewriteEngine On

#RewriteRule ^py/$ py/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php [L]

# fallback without mod_rewrite
# may need to be adjusted
ErrorDocument 404 /index.php